<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="10582RobertYing..NetCampus" Publisher="CN=DBC25FA2-8C1C-4E8C-A82A-518EFE39C8EA" Version="1.4.2.0" />
  <mp:PhoneIdentity PhoneProductId="9507dc64-d7f0-4843-a88f-3d03cbbf1a72" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>.Net Campus</DisplayName>
    <PublisherDisplayName>Robert Ying</PublisherDisplayName>
    <Logo>assets\Store\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="CampusNet.App">
      <uap:VisualElements DisplayName=".Net Campus" Square150x150Logo="assets\Medium\Medium150x150Logo.png" Square44x44Logo="assets\AppList\AppList.png" Description="ms-resource:AppDescription" BackgroundColor="transparent">
        <uap:LockScreen Notification="badge" BadgeLogo="assets\Small\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="assets\Wide\Wide310x150Logo.png" Square71x71Logo="assets\Small\Small71x71Logo.png" Square310x310Logo="assets\Large\Large310x310Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="assets\SplashScreen\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="wifiControl" />
  </Capabilities>
</Package>